<!-- Page Content -->
<!-- extende o arquivo do template global base.html -->
{% extends 'base.html' %}

<!-- criando o bloco title a ser inserido no base.html -->
{% block title %}Dashboard {% endblock %}

<!-- criando o bloco content a ser inserido no base.html -->
{% block content %}

<!-- carregando as mensagens definidas em partial/_messages.html -->
{% include 'partial/_messages.html' %}

<!-- imprimindo dados do usuário logado -->
<h1 class="mt-3 mb-3">Olá {{ user.first_name }} {{ user.last_name }}</h1>
<p>O seu nome de usuário é {{user}}.</p>

{% endblock %}
