<!-- Page Content -->
<!-- extende o arquivo do template global base.html -->
{% extends 'base.html' %}

<!-- criando o bloco content a ser inserido no base.html -->
{% block content %}

<h1 class="mt-5">Minha agenda</h1>

<!-- carregando as mensagens definidas em partial/_messages.html -->
{% include 'partial/_messages.html' %}

<!-- implementando o formulário de busca -->
<!-- recarrega a view index, com atributo de busca s populado -->
<form method="get" action="{% url 'index' %}">
  <div class="form-group row">
    <div class="col-12">
      <input
        class="form-control"
        type="search"
        value="{{ request.GET.s }}"
        id="search-input"
        placeholder="Pesquisa por nome"
        name="s"
      />
    </div>
  </div>
</form>

<!-- implementando a tabela de contatos -->
<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Nome</th>
      <th>Sobrenome</th>
      <th>Telefone</th>
      <th>Categoria</th>
    </tr>
  </thead>
  <tbody>
    <!-- iterando sobre o array de contatos definido na view -->
    {% for contato in contatos %}

    <!-- imprimindo as informações na tela -->
    <tr>
      <td>{{ contato.id }}</td>
      <td>
        <a href="{% url 'detalhe' contato.id %}">{{ contato.nome }}</a>
      </td>
      <td>{{ contato.sobrenome }}</td>
      <td>{{ contato.telefone }}</td>
      <td>{{ contato.categoria }}</td>
    </tr>

    {% endfor %}
  </tbody>
</table>

<!-- implementando a paginação -->
<nav>
  <ul class="pagination">
    <!-- iterando sobre o array páginas do paginador definido na view -->
    {% for page in contatos.paginator.page_range %}

    <!-- imprimindo as informações na tela -->
    <!-- se for a página atual, adiciona a classe active ao botão -->
    <li class="page-item {% if contatos.number == page %}active{% endif %}">
      <a class="page-link" href="?p={{ page }}&s={{ request.GET.s }}">{{ page }}</a>
    </li>

    {% endfor %}
  </ul>
</nav>

{% endblock %}
