<!-- Page Content -->
<!-- extende o arquivo do template global base.html -->
{% extends 'base.html' %}

<!-- criando o bloco content a ser inserido no base.html -->
{% block content %}

<h1 class="mt-5">Minha agenda</h1>

<table class="table">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Sobrenome</th>
      <th>Telefone</th>
      <th>Categoria</th>
    </tr>
  </thead>
  <tbody>

    <!-- iterando sobre o array de contatos atribuído na view -->
    {% for contato in contatos %}

      <!-- imprimindo as informações na tela -->
      <tr>
        <td>
          <a href="#">{{ contato.nome }}</a>
        </td>
        <td>{{ contato.sobrenome }}</td>
        <td>{{ contato.telefone }}</td>
        <td>{{ contato.categoria }}</td>
      </tr>

    {% endfor %}
    
  </tbody>
</table>

{% endblock %}
