<!-- Page Content -->
<!-- extende o arquivo do template global base.html -->
{% extends 'base.html' %}

<!-- criando o bloco content a ser inserido no base.html -->
{% block content %}

<h1 class="mt-5">Minha agenda</h1>

<table class="table">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Sobrenome</th>
      <th>Telefone</th>
      <th>Categoria</th>
    </tr>
  </thead>
  <tbody>

    <!-- iterando sobre o array de contatos definido na view -->
    {% for contato in contatos %}

      <!-- se o contato estiver ativo -->
      {% if contato.ativo %}

        <!-- imprimindo as informações na tela -->
        <tr>
          <td>
            <a href="{% url 'detalhe' contato.id %}">{{ contato.nome }}</a>
          </td>
          <td>{{ contato.sobrenome }}</td>
          <td>{{ contato.telefone }}</td>
          <td>{{ contato.categoria }}</td>
        </tr>

      {% endif %}
    {% endfor %}
    
  </tbody>
</table>

<!-- implementando a paginação -->
<nav>

  <ul class="pagination">

    <!-- iterando sobre o array páginas do paginador definido na view -->
    {% for page in contatos.paginator.page_range %}

      <!-- se for a página atual, adiciona classe active ao botão -->
      {% if contatos.number == page %}

        <!-- imprimindo as informações na tela -->
        <li class="page-item active"><a class="page-link" href="?p={{ page }}">{{ page }}</a></li>

      <!-- senão, simplemente insere o botão -->
      {% else %}

        <!-- imprimindo as informações na tela -->
        <li class="page-item"><a class="page-link" href="?p={{ page }}">{{ page }}</a></li>

      {% endif %}
    {% endfor %}

  </ul>
</nav>

{% endblock %}
